 
    .region__list {
        width: 140px;
        height: 18px;
        font-size: 13.5px;
        background-color: #ABDEF4;
    }   

  .search__logo {
        /* width: 22px; */
        height: 20px;
    }
    .search__logo img {
        width: 27px;
        height: 27px;
    }


@media (max-width:500px) {
    .header__container {
        margin: 0 15px;
    }
    .region {
        display: flex;
        
       
    }
    .region__container {
        display: flex;
        flex:0 1 100%; 
        justify-content:space-between;
    }

    .region-enter__title {
        margin-top: 20px;
        
    }

    .region__item {
        
    }
    .region__title {
        font-size: 14px;
    }
    .region__list {
       
        border-radius: 6px;
        text-align: center;
        box-shadow: 3px 2px rgb(196, 192, 192);
        margin: 0px 0px 9px 0px;
       
    }


    .search__container {
        display: flex;
        /* background-color: gray; */
        justify-content:center;
        margin: 0px 0px 13px 0px;
    }
    .search__text {
        flex:0 1 82%;
        margin-right: 5px;
        background-color: #F5F7FF;
        border-radius: 7px;
        border:1px solid #d6d9e8;
        height: 30px;
        
        
    }
    .search__logo {
        /* width: 22px; */
        height: 20px;
    }
    .search__logo img {
        width: 27px;
        height: 27px;
    }

    .btn-search {
        display: flex;
        justify-content: center;

    }
    .btn-search__button {
        background-color: #9FE79F;
        width: 89%;
        border-radius: 15px;
        border: none;
        font-size: 14px;
        margin: 0px 0px 10px 0px;
    }

    .title-search {
        text-align: center;
    }

    .categ-add__container {
        display: flex;
        justify-content: center;
    }
    .categ-add__body {
        display: flex;
        width: 92%;
        justify-content: space-between;
    }

    .categ-add__add {
         
        border-radius: 6px;
        text-align: center;
        box-shadow: 3px 2px rgb(196, 192, 192);
        margin: 0px 0px 9px 0px;
        width: 50px;
        height: 18px;
        font-size: 16px;
        background-color: #ABDEF4;
        color:#000;
        
    }

    .categ-add__add-photo  {
        width: 10px;
        height: 10px;
    }
}

