/* .categ-add__category {
      
    border-radius: 6px;
    text-align: center;
    margin: 0px 0px 9px 0px;
    width: 120px;
    height: 20px;
    font-size: 14px;
    background-color: #ABDEF4;
    border:none;
} */



.category-buttons {
	display: flex;
	justify-content: center;
 	padding: 35px 0px 0px 0px;
}
.category-buttons-wrapper {
	display: flex;
	overflow-x: auto;
	gap:8px;
	padding: 10px;
	white-space: nowrap;
	scrollbar-width: none; /*FireFox */
	-ms-overflow-style:none; /*IE 10+*/
	flex-wrap: wrap;
	width: 62%;
	
}


 .categories-buttons-wrapper::-webkit-scrollbar {
        display: none; /*Chrome, Safari*/
    }

    .category-btn {
        flex-shrink: 0;
        padding: 8px 16px;
        background-color: #c5eaf4;
        border:none;
        border-radius: 20px;
        font-size: 12px;
        transition: background-color 0.3s ease;
    }

    .category-btn:hover{
        background-color: #d0d0d0;
    }

.category-btn.active {
    background-color: #134563;
    color:white;
    border-color: #134563;
}

.showMoreBtn {
  	flex-shrink: 0;
	padding: 8px 16px;
	text-decoration: underline;
	background-color: #c5eaf4;
	border:none;
	border-radius: 20px;
	font-size: 12px;
	transition: background-color 0.3s ease;
}

.showMoreBtn:hover {
  text-decoration: underline;
}

@media (max-width:1024px) {
  .category-buttons {
    padding: 0;
  }
    .category-buttons-wrapper {
      width: 80%;
      padding: 10px;
    }
}


 @media (max-width:375px) {
        .categ-add__category {
            font-size: 14px;
        }
    }


 @media (max-width:500px) {
		
    .showMoreBtn {
    display: none;
    }
    .category-buttons {
      padding: 0px 0px 0px 0px;  
    }
    
  .product__buttons-container {
    padding: 2px;
  }
  
    .category-buttons-wrapper {
        
      white-space: nowrap;
      scrollbar-width: none; /*FireFox */
      -ms-overflow-style:none; /*IE 10+*/
      width: 100%;
      flex-wrap: nowrap;
    }

    .categories-buttons-wrapper::-webkit-scrollbar {
        display: none; /*Chrome, Safari*/
    }

    .category-btn {
        flex-shrink: 0;
        padding: 8px 16px;
        background-color: #c5eaf4;
        border:none;
        border-radius: 20px;
        font-size: 12px;
        transition: background-color 0.3s ease;
    }

    .category-btn:hover{
        background-color: #d0d0d0;
    }

    .category-btn.active {
        background-color: #134563;
        color:white;
        border-color: #134563;
    }


        

}


/* .category-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
} */
 
.category-block {
	display: flex;
	flex-direction: column;
  
}

.category-block.active {
	
	flex:1 0 90%;
  position: relative;

 
}


.subcategory-wrapper {
    display: flex;
    justify-content: center;
    
}
.subcategory-btn {
    background-color:#d1f4ff;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
     

}

.category-btn.fullWidth {
	width: 100%; 
	font-weight: bold;
	font-size: 16px;

 
}


.subcategory-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	margin-top: 8px;
  	margin-left: 12px;
}

.subcategory-btn:hover {
  background-color: #134563;
  color:white;
}





