

.item-product__image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        max-height: 235px;
        overflow: hidden;
        border-radius: 1px;
        background-color: rgb(255, 255, 255);
    }
    .item-product__image img{
        width: 100%;
        height: 100%;
        object-fit:contain;
    }



@media (max-width:500px) {
    .header__container {
        margin: 0 15px;
    }
    .region {
        display: flex;
        background-color:rgb(193, 180, 180);
    }
    .region__container {
        display: flex;
          
    }

    .region-enter__title {
       
    }

    .region__item {
        
    }
    

    


    .product__count {
        text-align: center;
    }


    .product__body {

    }

    .product__buttons {
        display: flex;
        
    }
    .product__button{
        padding: 7px 10px;
        font-size: 14px;
        margin-right: 1px;
        margin-bottom: 10px;
    }
   
    .product__buttons__all {
        flex:0 1 20%;
        
    }
    .product__buttons__owners{
        flex:0 1 40%;
    }
    .product__buttons__users{
        flex: 0 1 40%;
    }


    .item-product__btns {
        display: flex;
        justify-content: right;
        height: 13px; 
        font-size: 10px;
        
        
    }

    .item-product__edit {
        background-color: white;
        border: 1px solid rgb(84, 141, 157);
        font-size: inherit;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1px;
        
    }


    .item-product__img-price{

    }
    
    .item-product__delete {
        background-color: white;
        border: 1px solid rgb(84, 141, 157);
        border-radius: 2px;
        font-size: inherit;
    }
    .item-product__delete  {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-product__delete img {
        background-color: white;
        width: 10px;
    }

    .item-product {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: space-evenly;
        padding: 10px 0px;
        color:black;
        border-bottom: 1px solid #1128ff;
        
    }
    .item-product__price {
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        color:green;
    }
    .item-product__content {
        display: flex;
        justify-content: space-evenly;
        
    }
   
    .item-product__image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 115px;
        max-height: 135px;
        overflow: hidden;
        border-radius: 1px;
        background-color: rgb(255, 255, 255);
    }
    .item-product__image img{
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

    .item-product__info  {
        flex:0 1 50%;
    }

    .item-product__store-name {
        background-color: #fff;
        padding: 5px;    
    }
    .item-product__address-title {
        padding: 2px 10px;
    }
    .item-product__address {
        background-color: #fffefe;
        padding: 5px 25px;
    }

}


/* <div className={styles['product']}>
                <div className={styles['product__container']}>
                    <div className={styles['product__body']}>
                        <div className={styles['product__buttons']}>
                            
                            <button className={`${styles['product__button']} ${styles['product__buttons__all']}`}
                                onClick={() => setActiveFilter('all')}  style={buttonStyle('all')}  >Все 
                            </button>
                            <button className={`${styles['product__button']} ${styles['product__buttons__owners']}`}  
                                onClick={() => setActiveFilter('owner')}                     
                                style={buttonStyle('owner')} >
                                Владельцы
                            </button>
                            <button className={`${styles['product__button']} ${styles['product__buttons__users']}`}  
                                onClick={() => setActiveFilter('user')}
                                style={buttonStyle('user')} >Люди
                            </button>
                                        
                        </div>

                        <div className={styles['product__item']}>
                            {
                                (!(products.length)) && (
                                    <div className={styles['product__count']}>
                                        Нет товара
                                    </div>
                                )
                            }

                            {products.map(product => (
                            <div className={styles['item-product']} key={product.id}>
                                <div className={styles['item-product__img-price']} >
                                        
                                    {   
                                        (product.image == "http://127.0.0.1:8000/media/media") ?
                                        ( <div>Нет фото</div>):
                                        (<div className={styles['item-product__image']} >
                                            <img src={product.image} alt="" width={130}/></div>)
                                    }     
                                    <div className={styles['item-product__price']} >
                                        {product.price}
                                    </div>
                                     <div className={styles['item-product__product-name']}>
                                        {product.productName}
                                    </div >
                                </div>
                             
                                <div className={styles['item-product__info']}>
                                   
                                    
                                     <div className={styles['item-product__weight']}>
                                        {product.weight}
                                    </div >
                                    <div className={styles['item-product__address']}>
                                        {product.address}
                                    </div>
                                    <div className={styles['']}>
                                        {product.productUser}
                                    </div>
                                    <div className={styles['item-product__store-name']} >
                                        {product.storeName}
                                    </div>
                                    <div  className={styles['item-product__region']}>
                                        {product.region}
                                    </div>
                                
                                </div>

                                

                                     { (product.productUser === 'user' || activeFilter === 'all') && (
                                    
                                    <div className={styles['item-product__btns']}>
                                        <button  className={styles['item-product__edit']} 
                                        onClick={() =>navigate(`/edit-user-product/${product.id}`)}>
                                                ...

                                            
                                        </button>     
                                        <button  className={styles['item-product__delete']} 
                                        onClick={() => handleDelete(product.id)}>
                                            <img src={delIcon} alt="" />
                                        </button>
                                    </div>
                                                                              
                                    ) }          
                                    <hr />          
                                </div  >
                                        
                                    ))
                                } 
                            
                            </div> */
