.detail {
    display: flex;
    justify-content: center;
  
    
}

.detail__container {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   padding: 10px 30px 50px 30px;
   width: 50%;
   background-color: rgb(251, 251, 252);
   border:1px solid rgb(161, 179, 253);
   
}

.detail__price {
        font-size: 26px;
    font-weight: bold;
    color: green;
}

.detail__title {

}

.detail__image {
    margin: 0px 0px 15px 0px;
}

.detail__image-price-name {
    margin: 0px 0px 25px 0px;
}

.detail__main-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 0px 30px 0px;
}

.detail__main-info span{
    font-size: 18px;
    font-weight: bold;
}

.detail__main-name {
    text-align: left;
}


.desc_product-name {
    margin: 0px 0px 10px 0px;
    text-align: left;
}


.detail__feature {
    text-align: left;
  
   
    
}
.desc__phone-container{
    display: flex;
    justify-content: center;
    width: 100%;

}



.desc__phone-message {
    display: flex;
    justify-content: space-evenly;
    width:60%;
}

.desc__phone-number {
    display: flex;
    justify-content: center;
    flex:0 1 40%;
    margin: 0px 0px 20px 0px;
   
}
.desc__phone-number button {
    width:100%;
    display: block;
    border-radius: 5px;
    border:none;
    font-size: 14px;
    background-color: rgb(152, 243, 158);
}

.desc__phone-write {
    flex:0 1 40%;
}
.desc__phone-write button {
    width: 100%;
    width:100%;
    display: block;
    border-radius: 5px;
    border:none;
    font-size: 14px;
    background-color: rgb(177, 210, 231);
}

@media (max-width:500px) {
    
    .detail__container {
        width: 100%;
    }

    .detail__main-info {
        font-size: 14px;
    }
    
    .detail__main-info span{
        font-size: 16px;
        font-weight: bold;
    }

    .desc__phone-message {
        display: flex;
        justify-content: space-evenly;
        width:100%;
    }

    .detail__feature {
        font-size: 14px;
        margin: 0px 0px 10px 0px;
    }
}