.chat {
    display: flex;
    flex-direction: column;
    gap:8px;
    height: 70vh;
    overflow-y: auto;
    padding: 7px;
   
}

.chat__message {
    display: flex;
    padding: 0px 7px;
}

.chat__date {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chat__date {
    display: flex;
    justify-content: center;
}


.message {
    display: inline-flex;
   
    
}

.chat__message.own {
    justify-content: flex-end;
   
}



.chat__message.other {
    justify-content: flex-start;
}
.chat__text {
   max-width: 75%;
   font-size: 15px;
  
       
}

.chat__text.color-text {
    background-color: #d2f4ff;
    padding: 3px 5px;
    border-radius: 8px;
    padding:8px 15px;
}

.chat__text.sender{
    background-color: rgb(234, 229, 229);
    border-radius: 8px;
    padding:8px 15px;
}

.chat__images {
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    width: 70%;
   
}

.chat__send {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 7px;
}

.send__clip input {
    display: none;
}
.send__clip img {
   max-width: 23px;
}

.input__message {
    flex:60%;
    margin: 0px 5px;
}
.input__message input {
    display: block;
    height: 40px;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 0px 10px;
}
.input__message input:focus {
    outline: none;
    border: 1px solid rgb(15, 177, 231);
}

.send__message button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    background-color: #ffffff;
    border:none;
    border-radius: 5px;

}
.send__message img {
   
    width: 25px;
    max-height: 20px;
}