.bottom-bar {
    position: fixed;
    bottom:0;
    left:0;
    background-color: #fff;
    height: 50px;
    width: 100%;
    border:1px solid lightblue;
}

.bottom-bar__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.bottom-bar__right {
    display: flex;
}

.item-bar {
    display: flex;
    margin-right: 4px;
    
}

.item-bar__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-bar__image img{
    width: 22px;
}

.item-bar__title {
    font-size: 17px;
    color:#000;
}

/* 
<div className={styles.bottomBar}>
            <div className="bottom-bar__container">
                <div className="item-bar">
                    <div className="item-bar__body">
                        <div className="item-bar__image">
                            <img src="" alt="" />
                        </div>
                        <div className="item-bar__title"></div>
                    </div>
                </div>
            </div>
        </div> */