
.swiper-class img{
       
        max-width: 150px;
        max-height: 200px;

    }

@media (max-width:500px) {
    .swiper-class img{
       
        max-width: 150px;
        max-height: 200px;

    }
}