
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	list-style-type: none;
}


a:hover {
  color: #535bf2;
}

a {
	text-decoration: none;
	
}	
html {
	min-height: 100%;
}

body {
	
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 16px;
	background-color: #F4FCFF;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


#root{
	padding: 10px 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
	cursor: pointer;
	font-size: 16px;
	padding: 4px;
}
/* button:hover {
 	border-color: orange;
} */
button:focus,
button:focus-visible {
  outline:none;
}

.swiper {
	padding-bottom: 40px;
}

.swiper-pagination {
	bottom:5px !important;
	margin-top: 20px !important;
	position: relative !important;

}


/* 
@media (max-width:500px) {
	body {
		background-color: #000;
	}
} */