

.header__container {
    display: flex;
    justify-content: center;
}


.item-product__image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        max-height: 235px;
        overflow: hidden;
        border-radius: 1px;
        background-color: rgb(255, 255, 255);
    }
    .item-product__image img{
        width: 100%;
        height: 100%;
        object-fit:fill;
    }


.region {
        display: flex;
        background-color:rgb(193, 180, 180);
    }
    .region__container {
        display: flex;
          
    }

    .region-enter__title {
       
    }

    .region__item {
        
    }
    

    .product {
        /* overflow-y: auto !important;   Включает скролл в div */
      /*  height: 100vh;                Фиксированная высота, чтобы div скроллился */
        /* max-height: 100vh; */
    }


    .product__count {
        text-align: center;
    }


    .product__body {
        padding: 0px 0px 60px 0px;
    }

    .product__buttons-container {
        /* width: 80%;
        display: flex;
        justify-content: start; */
    }
    .product__buttons {
        display: flex;
        margin-bottom: 10px;
        width: 74%;
        margin: 0 auto;
        padding: 0px 0px 0px 0px;
          
    }
    .product__button{
        /* padding: 7px 10px; */
        font-size: 18px;
        margin-right: 1px;
        margin-bottom: 20px;
        background-color: rgb(128 199 255);
        
       
    }
   
    .product__buttons__all {
        flex:0 1 20%;
        
        
    }
    .product__buttons__owners{
        flex:0 1 40%;
    }
    .product__buttons__users{
        flex: 0 1 40%;
    }

 .product__content {
    display: flex;
    justify-content: center;
    /* background-color: gray; */
    
}

.product-vip__content {
    display: flex;
    justify-content: center;
    background-color: rgb(197, 223, 243);
    margin: 0px 0px 20px 0px;
    padding: 3px 0px 3px 0px;

}


.product__row {
    display: flex;
    flex-wrap: wrap;
    flex:0 1 73%
}

 

.item-product__btns {
    display: flex;
    justify-content: right;
    height: 13px; 
    font-size: 10px;
    
    
}

.item-product__edit {
    background-color: white;
    border: 1px solid rgb(84, 141, 157);
    font-size: inherit;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    
}


 .item-product__content {
    display: flex;
    flex-direction: column;
    align-items: center; 
  
        
}


.item-product__img-price{

}

.item-product__delete {
    background-color: white;
    border: 1px solid rgb(84, 141, 157);
    border-radius: 2px;
    font-size: inherit;
}
.item-product__delete  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-product__delete img {
    background-color: white;
    width: 10px;
}

.item-product {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-evenly;
    padding: 10px 0px;
    color:black;
    border-bottom: 1px solid #1128ff;
    
}
.item-product__price {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color:green;
}
.item-product__content {
    display: flex;
    justify-content: space-evenly;

}

.item-product__image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
}
.item-product__image img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 10px;
}

.item-product__info  {
    flex:0 1 50%;
}

.item-product__store-name {
    background-color: #fff;
    padding: 5px;    
}
.item-product__address-title {
    padding: 2px 10px;
}
.item-product__address {
    background-color: #fffefe;
    padding: 5px 25px;
}




@media (max-width:500px) {
    

    .header__container {
        margin: 0 15px;
    }
    .region {
        display: flex;
        background-color:rgb(193, 180, 180);
    }
    .region__container {
        display: flex;
          
    }

    .region-enter__title {
       
    }

    .region__item {
        
    }

     .search {
        font-size: 12px;
    }
    
    .filters-wrap {
        background-color: #fff;
    }
    .product-list-container {
        padding: 0px 5px;
       background-color: #f8f6f6;
    }
    

    .product {
        /* overflow-y: auto !important;   Включает скролл в div */
      /*  height: 100vh;                Фиксированная высота, чтобы div скроллился */
        /* max-height: 100vh; */
    }


    .product__count {
        text-align: center;
    }


    .product__body {
        padding: 0px 0px 60px 0px;
    }

    .product__buttons-container {
        padding: 0px;
    }
    .product__buttons {
        display: flex;
        /* margin-bottom: 10px; */
        /* position:fixed; */
        max-width: 100%;
        width: 100%;

    }
    .product__button{
        /* padding: 7px 10px; */
        font-size: 13px;
        margin-right: 1px;
       
    }
   
    .product__buttons__all {
        flex:0 1 20%;
        
        
    }
    .product__buttons__owners{
        flex:0 1 40%;
    }
    .product__buttons__users{
        flex: 0 1 40%;
    }



    .product__content {
        display: block;
        
    }

    .product__row {
        display: block;
        
    
    }

      .product__item {
        margin: 0px 0px 2px 0px;
       
    }

    .item-product__btns {
        display: flex;
        justify-content: right;
        height: 13px; 
        font-size: 10px;
        
        
    }

    .item-product__edit {
        background-color: white;
        border: 1px solid rgb(84, 141, 157);
        font-size: inherit;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1px;
        
    }


    .item-product__img-price{

    }
    
    .item-product__delete {
        background-color: white;
        border: 1px solid rgb(84, 141, 157);
        border-radius: 2px;
        font-size: inherit;
    }
    .item-product__delete  {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-product__delete img {
        background-color: white;
        width: 10px;
    }

    .item-product {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: space-evenly;
        padding: 10px 0px;
        color:black;
        border-bottom: 1px solid #1128ff;
        background-color: #fff;
        border-radius: 7px;
        
    }

    
    .item-product__price {
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        color:green;
    }
    .item-product__content {
        display: flex;
        justify-content: space-evenly;
        
    }
   
    .item-product__image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 115px;
        max-height: 135px;
        overflow: hidden;
        border-radius: 1px;
        background-color: rgb(255, 255, 255);
    }
    .item-product__image img{
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

    .item-product__info  {
        flex:0 1 50%;
    }

    .item-product__store-name {
        background-color: #fff;
        padding: 5px;    
    }
    .item-product__address-title {
        padding: 2px 10px;
    }
    .item-product__address {
        background-color: #fffefe;
        padding: 5px 25px;
    }

}



@media (max-width:768px) {

    .product__row {
        flex: 0 1 95%;
    }
    
  
  
}